<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Request Header Parser</title>
  </head>
  <body>
    <div class="container">
      <h1 id="title">Request Header Parser</h1>
      <h3 id="use">Usage-</h3>
      <p id="description">
        The API helps in getting the IP address, preferred languages (from
        header Accept-Language) and system infos (from header User-Agent) for my
        device.
      </p>
      <h4 id="exusage">Example Usage-</h4>
      <p>[base url]/api/info</p>
      <h4 id="exout">Example Output-</h4>
      <div id="code">
        <code
          >{"ipaddress":"::ffff:127.0.0.1","language":"en-GB,en-US;q=0.9,en;q=0.8","software":"Mozilla/5.0
          (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
          Chrome/83.0.4103.116 Safari/537.36"}</code
        >
      </div>
    </div>
  </body>
</html>
